ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [OR]
RewriteCond %{HTTP_HOST} ^54\.213\.130\.118$
RewriteRule ^(.*)$ http://openrobotics.ca/$1 [R=301,L]
Options -Indexes
php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_input_time 300
php_value max_execution_time 300