.services {
  margin-top: 50px;
  margin-left: 30px;
}

.services .service-item {
  background-color: #1f3646;
  height: 500px;
  color: #fff;
  padding: 60px 30px 20px 30px;
  text-align: center;
  transition: all 0.5s;
}

.service-item h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.service-item p {
  text-align: justify;
}

.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
}

.first-service .service-icon {
  background-image: url(../images/blog1.png);
  background-size: cover;
  transition: all 0.5s;
}

.second-service .service-icon {
  background-image: url(../images/training1.png);
  background-size: cover;
  transition: all 0.5s;
}

.third-service .service-icon {
  background-image: url(../images/calendar1.png);
  background-size: cover;
  transition: all 0.5s;
}

.service-item:hover {
  color: #121212;
  background-color: #ffe165;
}

.first-service:hover .service-icon {
  background-image: url(../images/blog0.png);
  background-size: cover;
}

.second-service:hover .service-icon {
  background-image: url(../images/training0.png);
  background-size: cover;
}

.third-service:hover .service-icon {
  background-image: url(../images/calendar0.png);
  background-size: cover;
}
