/* Preload carousel images for smoothness*/
  {
  background-image: url(/assets/images/carousel/0.jpg);
  background-image: url(/assets/images/carousel/1.jpg);
  background-image: url(/assets/images/carousel/2.jpg);
  background-image: url(/assets/images/carousel/3.jpg);
  background-image: url(/assets/images/carousel/4.jpg);
}

#carousel-overlay {
  text-align: center;
  position: absolute;
  z-index: 200;
  font-family: "Lucida Console", Courier, monospace;
  background-color: rgba(0, 0, 0, .5);
}

#carousel-overlay-title {
  font-weight: 900;
}

#carousel-overlay-slogan {
  margin: auto;
}

.transparent-button {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

/* Carousel base class */
.carousel {
  height: 1296px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 1296px;
  background-color: #777;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner>.item>img {
  position: absolute;
  top: 0;
  left: 0;
  height: 1296px;
}

.carousel-caption>button>a {
  font-size: large;
  color: #000;
}

.img-responsive {
  width: 100%;
  height: 400px;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}