table {
    margin-left: 45px;
    width: 90%
}

td, th {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    vertical-align: middle;
}

a button, a button:hover {
    color: black;
    text-decoration: none;
}